/*CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Styling the body*/
body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: wheat;
}
/* Styling the container of the instructions */
#container {
  height: auto;
  width: auto;
}
#instruction, #quiz{
  height: auto;
  width: 580px;
  padding: 20px;
  background: white;
  border: 1px solid #b0c4d8;
  display: block;
}
#quiz {
    height: auto;
    width: 580px;
    padding: 20px;
    background: white;
    border: 1px solid #b0c4d8;
    display: none
}
#result {
    height: auto;
  width: 580px;
  padding: 20px;
  background: white;
  border: 1px solid #b0c4d8;
  display: none;
  
}
#instruction h2 {
  font-size: 60px;
  color: #ff5235;
}
#instruction h4 {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}
#instruction #button {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#instruction #button button {
  height: 50px;
  width: 120px;
  margin: 10px 20px;
  outline: none;
  color: #b0c4d8;
}
#instruction #button button:hover {
  background-color: turquoise;
  color: white;
}
#quiz {
  display: block;
  height: 480px;
  position: relative;
}
#quiz #timer {
  height: 50px;
  width: 200px;
  background: #e97e6b;
  border: 1px solid #b0c4d8;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-right: 5px;
}
#quiz #timer h6 {
  font-size: 22px;
  display: grid;
  place-items: center;
}
/*Questions */

#quiz #question {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: row;
}
#quiz #question h2 {
  font-size: 27px;
}
#quiz #question h2:first-child {
  margin: 0 10px 0 5px;
}

/*Quiz answers*/
#quiz #answerList {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 160px;
}
#quiz #answerList h4 {
  height: 50px;
  width: 530px;
  background: aquamarine;
  line-height: 50px;
  margin: 5px;
  border-radius: 0px;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}
#quiz #answerList h4:hover {
  background: rgb(154, 154, 223);
}
/*Final result
#result {
  height: 500px;
  width: 450px;
  padding: 20px;
  background-color: #e7f1fa;
  border-radius: 0px;
  border: 1px solid #b0c4d8;
  overflow: hidden;
  position: relative;
}
#result #score {
  font-size: 180px;
  color: #ff5235;
  position: absolute;
  top: 30px;
  left: 120px;
}
#result #score h4 {
  height: 40px;
  width: 87%;
  font-size: 25px;
  position: absolute;
  text-align: center;
}
